.app{
  display: flex;
  flex-direction: column;
  border: 10px solid blue;
  padding: 10px;
}
.camera-view-port {
  width: 50%;
}

@media  (max-width: 600px) {
  .camera-view-port {
    width: 100%;
  }
}